.hero {
  padding: 4rem 2rem;
  text-align: center;
  
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.hero-buttons {
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: plum;
  color: white;
  border-radius: 4px;
}

.btn.secondary {
  background-color: #555;
}
